body{
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
	margin: 0;
}

.site{
    display: flex;
    width: 917px;
    height: 948px;
    background-color: black;
    flex-direction: column;
    align-items: center;
}

.header_pic{
    background-color: white;
    flex-grow: 2;
    padding: 0;
    margin-bottom: 4px;
    margin-top: 0;
}

.nav_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #128186;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
	margin-top: 0;
}

.nav_about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #128186;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.62px;
    padding-top: 0.62px;
}

.nav_content1 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin_right: 40px;
    margin-left: 0;
    height: 50px;
    padding: 0;
    background-color: #128186;
}

.nav_content2 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin_right: 40px;
    height: 50px;
    padding: 0;
    background-color: #128186;
}

.nav_content3 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 0;
    height: 50px;
    padding: 0;
    background-color: #128186;
}

.nav_text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
	color: white;
	text-decoration: none;
}

.nav_text:hover{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
	color: white;
	text-decoration: underline;
	
}

.main_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 7.5px;
    background-color: black;
    flex-grow: 12;
    width: 916px;
}

.introduction{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 4px;
    width: 100%;
	padding: 0;
}

.introduction_text{
	font-size: 50px;
	margin: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: white;
}

.middle_section{
    display: flex;
    flex-direction: row;
    flex-grow: 8;
	flex-shrink: 1;
	flex-basis: auto;
    justify-content: center;
	align-items: top;
    background-color: black;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
}

.main_article{
    flex: 1;
    background-color: black;
    margin-right: 10px;
	padding: 0;
	max-width:50%;
}

h2{
	margin: 10px;
	color: white;
}

.article_text{
	margin: 10px;
	color: white;
}

.picture{
	display: flex;
	flex-direction: column;
	justify-content: center;
    flex: 1;
    background-color: black;
    margin-left: 10px;
	max-width:50%;
}

.bottom_article{
    background-color: black;
    margin-top: 10px;
    width: 100%;
}

footer{
    margin: 7.5px;
    background-color: black;
	text-align: center;
    flex-grow: 2;
    width: 916px;
	color: white;
}

.middle_section_why{
    display: flex;
    flex-direction: column;
    flex-grow: 12;
	flex-shrink: 1;
	flex-basis: auto;
    justify-content: center;
	align-items: top;
    background-color: black;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
}

.main_article_why{
    flex: 1;
    background-color: black;
    margin-top: 10px;
	padding: 0;
	max-height:40%; 
}

.picture_why{
	display: flex;
	flex-direction: row;
	justify-content: center;
    flex: 2;
    background-color: black;
    margin-bottom: 10px;
	max-height:225px;
}

.article_picture_why{
    max-height: 225px;
}



.main {
	display: flex;
	flex-direction: row;
	flex-grow: 5;
	margin: 1%;
	width: 100%;
    background-color: black;
}

.review_post4 {
	background-color: #1f1f1f;
	flex-grow: 1;
	margin-right: 10px;
	color: white;
    max-width: 33%;
    max-height: 100%;
    padding-bottom: 0;
    border-right: 5px solid #151414;
    border-bottom: 5px solid #151414;
}

.two {
	flex-grow: 2;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    background-color: black;
}

.review_post1{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: #1f1f1f;
    margin-bottom: 10px;
    width: 100%;
    max-height: 33%;
    color: white;
    border-right: 5px solid #151414;
    border-bottom: 5px solid #151414;
}

.review_post2{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: #1f1f1f;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    max-height: 33%;
    color: white;
    border-right: 5px solid #151414;
    border-bottom: 5px solid #151414;
}

.review_post3{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: #1f1f1f;
    margin-top: 10px;
    width: 100%;
    max-height: 33%;
    color: white;
    border-right: 5px solid #151414;
    border-bottom: 5px solid #151414;
}

h3{
    margin: 10px;
    margin-top: 0;
	color: white;
}

.review_text{
	margin: 0;
    margin-left: 10px;
    margin-right: 10px;
	color: white;
}

.review_title{
    margin: 10px;
    margin-bottom: 0;
	color: white;
}